.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.tint {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;

	width: 100%;
	height: 100%;

	background-color: #00000099;
}

/* HEADER */

.header {
	padding: 87px 50px 91px 48px;

	display: grid;
	grid-template-columns: 392px 1fr 1fr;
	align-items: center;
	justify-items: center;
}

.navigation__menu {
	align-self: center;
	justify-self: start;
}

.navigation__menu-list {
	position: relative;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 28px;

	font-weight: 400;
	font-size: 18px;
	list-style: circle;
}

.navigation__menu-list .navigation__menu-item__active {
	list-style: none;
}

.navigation__menu-item__active .navigation__menu-link {
	text-decoration: none;
}

.navigation__menu-item {
	padding-left: 3px;
}

.navigation__menu-link.main-link {
	padding: 0;
}

.header__logo {
	display: block;
	width: 138px;
	margin-top: 3px;
	margin-left: 41px;

	justify-self: start;
}

.header__logo-image {
	width: 100%;
}

.address__content {
	margin-right: 10px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-self: end;

	font-weight: 400;
	font-size: 18px;
	font-style: normal;
	line-height: 1.35;
}

.address__content.header-section {
	width: 230px;
}

/* COVER */

.cover {
	position: relative;
	padding: 165px 20px 50px 50px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 102px;

	background: url('../images/cover.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	color: #fff;
}

.cover__title {
	display: flex;
	flex-direction: column;
	gap: 17px;

	z-index: 1;

	font-weight: 700;
	font-size: 100px;
	line-height: 1.19;
	letter-spacing: 30px;

	text-transform: uppercase;
}

.cover__content {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	z-index: 1;
}

.cover__content-slogan {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 24px;

	font-weight: 400;
	font-size: 22px;
	line-height: 1.27;
	letter-spacing: 0.1px;

	text-transform: uppercase;
	text-wrap: pretty;
}

.cover_content-button {
	margin-right: 30px;
	padding: 12px 32px;

	font-weight: 500;
	font-size: 22px;
	color: #fff;

	text-transform: uppercase;

	border: 1px solid currentColor;
	background-color: transparent;
}

/* LOTS */

.lots {
	padding: 180px 24px 120px;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	gap: 28px;
}

.lots__title {
	padding-left: 40px;
	font-weight: 700;
	font-size: 40px;

	text-transform: uppercase;
}

/* CARDS in COVER START */

.card__lists {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
	gap: 25px;

	color: #fff;
	line-height: 1.2;
}

.card {
	position: relative;

	text-decoration: none;
}

.card__content {
	padding: 48px 40px;
	width: 334px;
	min-height: 596px;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;

	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.card__content.card__lot-director {
	background-image: url('../images/card-lot-01.jpg');
}

.card__content.card__lot-book {
	background-image: url('../images/card-lot-02.jpg');
}

.card__content.card__lot-art {
	background-image: url('../images/card-lot-03.jpg');
}

.card__title {
	z-index: 1;
	font-weight: 700;
	font-size: 22px;
	line-height: 1.2;

	text-transform: uppercase;
	text-decoration: underline;

	text-underline-offset: 3px;
}

.card__text {
	z-index: 1;
	font-size: 20px;
	font-weight: 400;

	letter-spacing: 1.4;
	text-wrap: break-word;
}

/* CARDS in COVER END */

.lots__footer-button {
	padding-left: 40px;

	font-size: 20px;
	letter-spacing: 0.5px;

	border: none;
	background-color: transparent;

	text-decoration: underline;
}

/* ABOUT */

.about {
	padding: 0 24px 181px 24px;

	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	gap: 25px;
}

.about__logo {
	margin: 35px 47px;
	padding: 64px 45px;
	width: 240px;
	height: 240px;

	background-color: #000000;

	border-radius: 50%;
}

.about__logo-container {
	width: 150px;
}

.about__content {
	padding-top: 136px;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	gap: 100px;
}

.about__content-title {
	font-weight: 700;
	font-size: 40px;

	text-transform: uppercase;
}

.about__content-paragraph {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 24px;

	font-weight: 400;
	font-size: 20px;
	line-height: 1.2;

	text-wrap: balance;
}

/* FOOTER */

.footer {
	padding: 0 50px 82px;

	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
}

.address__content.footer-section {
	margin: 0;
	width: 242px;
}

.footer-navigation .navigation__menu-list {
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	gap: 0;

	list-style: none;
}

.navigation__menu.footer-navigation {
	align-self: start;
}

.navigation__menu.footer-navigation .navigation__menu-item {
	padding: 0;
}

.footer__socials-list {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 48px;
}

.footer__socials-item {
	width: 48px;
	height: 48px;
}
